body {
  font-family: Arial, sans-serif;
}

.app-container {
  margin: 20px;
  padding: 20px;
  background-color: #e97171;
  border-radius: 15px;
  width: 2000px;
}

form {
  display: flex;
  flex-direction: column;
}

input, select {
  margin: 10px 0;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
